.about-content {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(110%);
  background-color: #4d7ac4;
}

.aboutme-title {
  width: 50%;
  margin: 20px;
  display: contents;
}
.aboutme-title h1 { 
  position: relative;
  text-align: center;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 325%;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #8950eb;
  padding: 1%;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me p{
  text-align: center;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  width: 55%;
  /* background-color: */
  
}
  