.about-content {
  width: 70%;
  height: 100%;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #4d7ac4;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-top: 7%;
}

.aboutme-title {
  z-index: 1;
  width: 50%;
  margin: 20px;
  
}
.aboutme-title h1 { 
  z-index: 1;
  text-align: center;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 325%;
}

.about-me {
  z-index: 1;
  display: flex;
  justify-content: center;
}

.about-me p{
  z-index: 1;
  text-align: center;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  width: 55%;
  
}
  