body {
    padding: 0;
    margin: 0;
    background-image: url(https://i.imgur.com/6s975E1.jpg);
    background-size: cover;
  }

.main-content {
width: 100%;
height: 100%;
display: flex;
}

.main-paragraph {
  width: 50%;
  margin: 20px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-paragraph p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: xx-large;
  width: 50%;
  top: 35%;
  left: 30%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-pic {
  width: 50%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.main-pic img{
  position: relative;
  width: 40%;
  border-radius: 10px;
}

.about-me-button{
  position: relative;
  transition: all .15s ease-in;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}
